<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Blog</title>
</head>
<body>
<h1>Delete Catalog</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/category/list">Catalog list</a>
</p>
<form th:object="${category}" method="post" th:action="@{/category/delete}">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First name:</td>
            <td th:text="${category.getNameCategory()}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Catalog"></td>
        </tr>
    </table>
</form>
</body>
</html>