<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${message}">
    <span th:text="${message}"></span>
</div>

<p> Hello Spring boot</p>
<a th:href="@{/addPerson}" >Creat new persion</a>
<table>
    <tr>
        <td>Ten</td>
        <td>Dia chi</td>
    </tr>
    <tr th:each="person :${persons}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.address}"></td>
    </tr>
</table>
</body>
</html>