
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Customers</h1>
<a th:href="@{/customer/create}">Create new customer</a>
<form method="get" th:action="@{/customer/search}">
    Search by first name:
    <input name="s1" type="text"/>
    <input type="submit" value="Search"/>
</form>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<table border="1">
    <tr>
        <th>No</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Province</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="customer,row : ${customers}">
        <tr>
            <td th:text="${(row.count)+(customers.number)*5}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.province.getName()}"></td>
            <td><a th:href="@{/customer/edit/__${customer.id}__ }">Edit</a></td>
            <td><a th:href="@{/customer/delete/__${customer.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/customer/list'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customer/list'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>
</body>
</html>